.appMain {
  display: flex;
  .header {
    .c_link {
      img {
        width: 100px;
      }
    }
    .aside {
      position: fixed;
      bottom: 0;
      left: 0;
      transition: width 0.3s, left 0.3s;
      z-index: 600;
      width: 220px;
      top: 0;
      padding: 20px 0;
      background-color: #4285f4;
      ul {
        list-style: none;
        padding: 0 20px;
        margin-bottom: 5px;
        h6 {
          color: #fff;
          font-weight: 800;
          margin-bottom: 20px;
        }
        li {
          text-align: center;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 18px;
          color: #fff;
          font-weight: 700;
          font-size: 12px;
          &.active {
            color: #f7cc1b;
            .icons {
              background-color: #f7cc1b;
            }
          }
          &:hover {
            color: #f7cc1b;
            .icons {
              background-color: #f7cc1b;
            }
          }
          .icons {
            margin-bottom: 8px;
            border: none;
            padding: 8px;
            width: 38px;
            height: 38px;
            background: #cec7c780;
            border-radius: 5px;
            fill: #fff;
          }
        }
        .boxMain {
          width: 100%;
          margin: 0 auto;
          height: 150px;
          border-radius: 8px;
          background-color: #ffffff9c;
        }
      }
    }
  }
  .appBody {
    background-color: #f7f7f7;
    width: 100%;
    padding: 20px 20px 20px 240px;
    overflow-x: hidden;
    .dataBody {
      .middleB {
        overflow-x: hidden;
        .searchD {
          .searchBox {
            position: relative;
            .filtericon {
              position: absolute;
              right: 55px;
              top: 5px;
              z-index: 9;
              cursor: pointer;
              fill: #4285f4;
              width: 35px;
              padding: 6px;
              height: 35px;
              border-radius: 50%;
              &:hover {
                background-color: #4285f41a;
              }
              &.active {
                background-color: #4285f4;
                fill: #fff;
              }
            }
            .Sinput {
              border-radius: 50px 0 0 50px;
              border: unset;
              padding: 10px 40px;
              &:focus {
                box-shadow: none;
              }
            }
            .searchBtn {
              background: #f7cc1b;
              color: #fff;
              border-radius: 0 50px 50px 0;
              &:focus {
                box-shadow: none;
              }
            }
          }
        }
        .filter {
          margin-top: 10px;
          margin-bottom: 40px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .fresult {
            display: flex;
            align-items: center;
            .fcards {
              margin-left: 5px;
              border-radius: 50px;
              border: 1px solid #4285f4;
              padding: 8px 15px;
              cursor: pointer;
              background: #fff;
              color: #5f5f5f;
              font-weight: 600;
              &:hover {
                background-color: #4285f4;
                color: #fff;
              }
              &.active {
                background-color: #4285f4;
                color: #fff;
              }
            }
          }
          .cresult {
            cursor: pointer;
            color: #4285f4;
            font-weight: 600;
          }
        }
        .sort {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 30px;
          .jobF {
            h6 {
              font-size: 14px;
              font-weight: 700;
              color: #5f5f5f;
              span {
                color: #4285f4;
                margin-left: 5px;
              }
            }
          }
          .sortTab {
            display: flex;
            align-items: center;
            font-weight: 600;
            .Dselect {
              margin-left: 5px;
              border-radius: 50px;
              border: 1px solid #4285f4;
              font-size: 14px;
              padding: 3px 30px 3px 10px;
              color: #5f5f5f;

              &:focus {
                box-shadow: none;
              }
            }
          }
          .twoBtn {
            display: flex;
            margin-left: 10px;
            .NewBtn {
              padding: 5px 12px;
              background-color: #4285f4;
              border: unset;
              border-radius: 25px;
              color: #fff;
              font-weight: 700;
              display: flex;
              align-items: center;
              font-size: 12px;
              &.ActiveBtn {
                background-color: #70b2ff33;
                color: #3c3c3c;
                margin-right: 8px;
              }
              .AddIcon {
                width: 18px;
                height: 18px;
                margin-right: 5px;
              }
            }
          }
        }
        .companyList {
          overflow-y: auto;
          height: calc(100vh - 239px);
          padding: 0 10px 0 0;
          .companyCard {
            border-radius: 8px;
            padding: 20px;
            background-color: #fff;
            margin-bottom: 25px;
            &:last-child {
              margin-bottom: 0;
            }
            cursor: pointer;
            box-shadow: 0 4px 20px 0 #00000008;
            &.active {
              border: 2px solid #4285f4;
            }
            .cphoto {
              width: 60px;
              height: 60px;
              background-color: #eee;
              border-radius: 8px;
            }
            .companyI {
              h4 {
                margin-bottom: 5px;
                font-weight: 700;
              }
              h6 {
                font-size: 14px;
              }
              .Locate {
                display: flex;
                font-size: 12px;
                align-items: center;
                color: #5f5f5f;
                cursor: pointer;
                .icon {
                  width: 16px;
                  height: 16px;
                  fill: #5f5f5f;
                }
              }
              .dot {
                font-size: 12px;
                fill: #5f5f5f;
                margin-top: 5px;
                margin-bottom: 0;
              }
            }
            .info {
              .infoI {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-bottom: 10px;
                .icon {
                  width: 16px;
                  height: 16px;
                  margin-left: 20px;
                  fill: #5f5f5f;
                  cursor: pointer;
                }
              }
            }
            .infoDetail {
              p {
                margin-bottom: 5px;
                font-size: 12px;
                color: #5f5f5f;
              }
              h6 {
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 10px;
                color: #5f5f5f;
              }
              .package {
                margin-bottom: 0;
                strong {
                  font-size: 16px;
                  color: #3c3c3c;
                }
              }
            }
          }
        }
      }
      .ManiG {
        background-color: #fff;
        height: calc(100vh - 40px);
        box-shadow: 0 4px 20px 0 #00000008;
        border-radius: 8px;
        padding: 20px;
        .comanyRight {
          .detailInfo {
            display: flex;
            flex-direction: column;
            align-items: center;
            .cphoto {
              width: 80px;
              height: 80px;
              background-color: #eee;
              border-radius: 8px;
            }
            h6 {
              font-size: 18px;
              color: #4285f4;
              font-weight: 700;
              text-align: center;
              margin-top: 20px;
            }
            p {
              font-size: 12px;
              color: #5f5f5f;
              font-weight: 600;
              margin-bottom: 0;
            }
          }
          .minimumMain {
            overflow-y: auto;
            height: calc(100vh - 340px);
            .minimumD {
              h6 {
                font-weight: 700;
                color: #3c3c3c;
              }
              p {
                display: flex;
                h6 {
                  margin-right: 5px;
                }
              }
            }
            .acc {
              :global(.accordion-item) {
                border: none;
                border-radius: 0;
                :global(.accordion-header) {
                  :global(.accordion-button) {
                    border: none;
                    padding: 0;
                    font-size: 14px;
                    border-radius: 0;
                    color: #4285f4;
                    font-weight: 600;
                    &:global(::after) {
                      margin-left: 5px;
                      background-size: auto;
                      width: 14px;
                      height: 14px;
                    }
                    &:global(:not(.collapsed)) {
                      background-color: unset;
                      box-shadow: unset;
                    }
                    &:global(.collapsed) {
                      color: #3c3c3c;
                    }
                    &:focus {
                      box-shadow: unset;
                    }
                  }
                }
                :global(.accordion-body) {
                  padding: 1rem 0;
                }
              }
            }
          }
        }
        .apply {
          margin-top: 10px;
          .applyBtn {
            padding: 10px 30px;
            font-size: 16px;
            background-color: #4285f4;
            color: #fff;
            border: none;
            width: 100%;
            border-radius: 50px;
            box-shadow: 0 4px 32px 0 #80808042, 0 8px 64px 0 #0a0e1d00;
          }
        }
      }
    }
  }
}

.modalAnt {
  width: 635px !important;
  :global(.ant-modal-content) {
    :global(.ant-modal-header) {
      padding: 30px 30px 10px 30px;
      :global(.ant-modal-title) {
        font-size: 18px;
      }
    }
    :global(.ant-modal-body) {
      padding: 25px 30px 30px 30px;
      height: 300px;
      overflow-y: auto;
      .formAll {
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
        input {
          font-size: 14px;
        }
        select {
          font-size: 14px;
        }
        textarea {
          height: 150px;
          font-size: 14px;
        }
      }
    }
    :global(.ant-modal-footer) {
      display: none;
    }
  }
}

.salaryblock {
  display: flex;
  justify-content: space-around;
}
