
/*---------Custom scrollbar starts----------*/

@media (min-width: 992px) {
    /* width */
  
    ::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }
  
    /* Track */
  
    ::-webkit-scrollbar-track {
      background: #dee2e6;
    }
  
    /* Handle */
  
    ::-webkit-scrollbar-thumb {
      background: #979292bf;
      border-radius: 0;
      box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0);
    }
  
    /* Handle on hover */
  
    ::-webkit-scrollbar-thumb:hover {
      background: #979292;
    }
  }
  /*---------Custom scrollbar Ends----------*/
  